#include "resource.h"

IDR_MAIN_MENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&New\tCtrl+N",                ID_FILE_NEW
        MENUITEM "&Open...\tCtrl+O",            ID_FILE_OPEN
        MENUITEM "&Save\tCtrl+S",               ID_FILE_SAVE, INACTIVE
        MENUITEM "Save &as...\tShift+Ctrl+S",   ID_FILE_SAVEAS, INACTIVE
        MENUITEM SEPARATOR
        MENUITEM "&Close\tAlt+F4",              ID_FILE_CLOSE
    END
END

IDR_MAIN_ACCEL ACCELERATORS
BEGIN
    "N",            ID_FILE_NEW,            VIRTKEY, CONTROL, NOINVERT
    "O",            ID_FILE_OPEN,           VIRTKEY, CONTROL, NOINVERT
    "S",            ID_FILE_SAVE,           VIRTKEY, CONTROL, NOINVERT
    "S",            ID_FILE_SAVEAS,         VIRTKEY, SHIFT, CONTROL, NOINVERT
END

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,1,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000904b0"
        BEGIN
            VALUE "CompanyName", "Yokattana"
            VALUE "FileDescription", "Spreadsheet Calculator"
            VALUE "FileVersion", "0.1.0.0"
            VALUE "InternalName", "SC"
            VALUE "LegalCopyright", "Copyright (c) 2017"
            VALUE "OriginalFilename", "SC.exe"
            VALUE "ProductName", "Spreadsheet Calculator"
            VALUE "ProductVersion", "0.1.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x9, 1200
    END
END

